<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="Myself Hridoy Ahmed, Full-stack Web Developer (MERN)">
    <title>Portfolio | Blog</title>
    <!-- Styles-->
    <link rel="stylesheet" href="./static/assets/css/main.min.css">
    <link href="./static/assets/fonts/Icomoon/style.css" rel="stylesheet">
    <!-- Favicon-->
    <link rel="icon" type="image/png" href="./static/assets/images/favicon.png">
    <script src="./static/recaptcha/api.js" async="" defer=""></script>
  </head>
  <body>
    <div class="app">
      <header>
        <div class="header-container">
          <div class="container">
            <div class="header-section d-flex justify-content-between align-items-center">
              <div class="header-logo"><a href="index.html"><img src="./static/assets/images/logo-final.png"></a></div>
              <div class="header-menu">
                <ul class="nav nav-light">
                  <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                  <li class="nav-item active"><a class="nav-link" href="blog.html">Resume</a></li>
                </ul>
                <div class="mobile-menu"><span></span><span></span></div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <div class="main-content blog">
        <section class="blog-hero">
          <div class="blog-hero-section">
            <div class="blog-hero-bg">
              <div class="blog-bg-rear"></div>
              <div class="blog-bg-front"><img class="blog-bg-front__default" src="./static/assets/images/blog-pattern-bg.png"><img class="blog-bg-front__large" src="./static/assets/images/blog-pattern-bg-lg.png"></div>
            </div>
            <div class="blog-hero-char">
              <div class="blog-guy-1"><img src="./static/assets/images/blog-guy-1.png"></div>
              <div class="blog-guy-2"><img src="./static/assets/images/blog-guy-2.png"></div>
              <div class="blog-guy-3"><img src="./static/assets/images/blog-guy-3.png"></div>
              <div class="blog-girl-1"><img src="./static/assets/images/blog-girl-1.png"></div>
            </div>
            <div class="blog-hero-overlay"></div>
            <div class="blog-hero-mask">
              <div class="blog-white-mask"><img class="blog-white-mask__default" src="./static/assets/images/blog-white-mask.png"><img class="blog-white-mask__large" src="./static/assets/images/blog-white-mask-lg.png"></div>
            </div>
            <div class="blog-hero-text">
              <div class="container">
                <h1>Download My Resume</h1>
                <style>
                  .btn {
                    border: none;
                    color: white;
                    padding: 12px 30px;
                    cursor: pointer;
                    font-size: 20px;
                    margin-top: 20px;
                  }
                  
                  /* Darker background on mouse-over
                  .btn:hover {
                    background-color: RoyalBlue;
                  } */
                  </style>
                  </head>
                  <body>  
                    <form class="btn" target="_blank" action="https://drive.google.com/file/d/1LmQsuXfv9aiF_MgM4IvFJ3wuwOtqCVP7/view?usp=sharing">
                      <input type="submit" value="Download" />
                  </form>
              </div>
            </div>
          </div>
      </div>
    </div>

    <script src="./static/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="./static/api/checkout.js"></script>
    <script src="./static/assets/js/main.min.js"></script>
    <script async="" src="./static/gtag/js.js?id=UA-104389919-1"></script>

    <script src="./static/platform/platform.js"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-104389919-1');
    </script>
  </body>
</html>
